body {
  background-color: burlywood;
}


@font-face {
  font-family: 'IAMAPLAYER';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/IAMAPLAYER.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'IAMAPLAYER';
}


/* header부분 */
.maintitle {
  height: 600px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: white;

  background-image: url("https://www.starbucks.co.kr/common/img/main/fav_prod_bg_new.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  vertical-align: bottom;
}

.maintitle > h2 {
  font-size: 35px;
  margin-bottom: 10px;
}



/* 검색창, 검색버튼 */
.search_area {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.search_area > input {
  width: 500px;
  padding: 10px 20px;
  font-size: 25px;
  outline: 0;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 0;
}


.search_area > button {
  width: 200px;
  padding: 15px;
  background-color: transparent;
  cursor: pointer;
  border: 5px solid burlywood;
  font-size: 25px;
  border-radius: 20px;
  color: white;
}

.search_area > button:hover {
  background-color: white;
  color: burlywood;
  transition: all 0.3s ease-in-out;
}


/* 카드리스트 */
.cardlist {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;

  margin-top: 20px;
}


/* 카드 정보 */
.card {
  width: 400px;
  border: 1px solid black;
  text-align: center;
  padding: 20px 20px;
  display: flex;
  flex-wrap: wrap;
  margin-left: 30px;
  background-image: url("https://i.pinimg.com/564x/b7/df/32/b7df323b6bbdf69014567931ba9f2385.jpg");
  border-radius: 20px 20px 10px 10px;
  border: 0;
  margin-bottom: 50px;
  cursor: pointer;;
}

.card:hover {
  transform: scale(1.03);
  transition: all 0.5s ease-in-out;
}

.card > img {
  width: 300px;
  border-radius: 15px;
  margin-left: 30px
}

.movietitle {
  text-align: left;
  margin: 10px 0;
  font-size: 30px;
  font-family: 'YEONGJUPunggiGinsengTTF';
}

.moviecontent > p {
  padding: 10px 0;
  color: white;
  font-size: 20px;
}